body{
	margin: 0;
	padding: 0;
}
.head{
width: 100%;
height: 100vh;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.heading{
	width: 450px;
	border-right: 3px solid;
	font-size: 2rem;
	white-space: nowrap;
	margin: auto;
	overflow: hidden;
	height: auto;
	justify-content: center;
	animation: flip 5s steps(30), blink .5s step-end infinite alternate;
}
.typing{

}
@keyframes flip{
	from{
		width: 0;
	}
}
@keyframes blink{
 50%{
 	border-color: transparent;
 }
}